<h1>User: <%= @user.email %></h1>
<br>
  <%= form_with(model: @user) do |form| %>
    <h4> Change User's Role</h4>
    <div class="form-group">
      <div class="col-md-4 checkbox-list">
        <%#= form.label "Change User's role", class: "form-check-label" %> 
        <%= form.collection_check_boxes :role_ids, Role.all, :id, :name%>
      </div>
    </div>
    <div class="form-group">
      <%= form.submit class: "btn btn-primary"%>
    </div>

  <% end %>
  <div class="card">
    <div class="card-header">
      <h3 style="color:red"><strong>Danger Area</strong></h3>
    </div>
    <div class="card-body">  
      <h4 class="card-title" style="color:red"> Want to delete this User?</h4>
      <%= button_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure? THIS CANNOT BE UNDONE' }, class: "btn btn-danger" %>
    </div>
  </div>
  <%= link_to 'Show', @user %> |
  <%= link_to 'Back', users_path %>