<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "Navbar", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <% if can? :read, Category %>
          <li class="nav-item">
            <%= link_to "Categories", categories_path , class: "nav-link" %>
          </li>     
        <% end %>
        <li class="nav-item">
          <%= link_to "Products", products_path , class: "nav-link" %>
        </li>
        <%#Display links based on current user authentication/authorization %>
        <% if user_signed_in? %>
          <% if current_user.has_role? :admin %>
            <li class="nav-item">
              <li><%= link_to "Admin Area", users_path, class: "nav-link" %></li>
            </li>
          <% else  %>
            <li class="nav-item">
              <li><%= link_to "Your User", user_path(current_user), class: "nav-link" %></li>
            </li>
          <% end %>
        <% end %>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Logged as: #{current_user.email}", edit_user_registration_path, class: "nav-link disabled" %>
        </li>
        <li class="nav-item">
          <%= link_to "Edit Account", edit_user_registration_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary" %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <% end  %>
      </ul>
    </div>
</nav>
