<div class="container">
  <h1>Products</h1>
  <br>
  <% @products.each do |product| %>
    <div class="card">
      <h5 class="card-header"><%= product.name %></h5>
      <div class="card-body">
        <p class="card-text"><%= product.description %></p>
        <p class="card-text">
            <h3>Categories:</h3>
          <% product.categories.each do |cat| %>
            <ul>
              <li><%= cat.name %></li>
            </ul>
          <% end  %>
        </p>
        <div class="container">
          <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight"><%= link_to 'Show', product, class: "btn btn-primary" %></div>
            <div class="p-2 bd-highlight"><%= link_to 'Edit', edit_product_path(product), class: "btn btn-primary" %></div>
            <div class="p-2 bd-highlight"><%= button_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></div>
            <div class="ml-auto p-2 bd-highlight">
              <button type="button" class="btn btn-primary">
              <span class="badge badge-light"><%= number_to_currency(product.price, unit: "R$", separator: ",", precision: 2) %></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end  %>
</div>
<br>
<div class="container">
  <%= link_to 'New Product', new_product_path, class: "btn btn-primary" %>
</div>
